<%- include('../includes/header.ejs') %>
</head>
<body>
  <%- include('../includes/nav.ejs') %>
<main>
  <div class="position-relative"  style="min-height: 81vh; background-image:url('../../assets/img/business.jpg'); background-size:cover; background-position:center">
    <section class="section-shaped my-0">
      <div class="container container-lg shape-container d-flex">
        <div class="col px-0" style="margin:110px 0px">
          <div class="row">
             <div class="col-lg-5 mx-auto">
              <div class="card shadow">
                <div class="card-header bg-white">
                    <h5 class="text-center">Set a New Password For Your Account</h5>
                    <% if(errorMessage) { %> 
                      <div class="alert bg-deep-red mb-0 alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          <span class="sr-only">Close</span>
                        </button>
                        <p class="font-weight-normal m-0"><%=errorMessage%></p>
                      </div>
                      <% } %>
                </div>
                <div class="card-body bg-black text-white">
                  <form action="/resetpassword" method="post" class="mb-0">
                   <div class="form-group ">
                     <label for="name">Enter New Passowrd</label>
                     <div class="input-group input-group-alternative">
                       <div class="input-group-prepend">
                         <div class="input-group-text">
                           <i class="fa fa-lock text-dark"></i>
                         </div>
                       </div>
                       <input type="password" name="password" id="" autocomplete="new-password" class="form-control form-control-alternative" placeholder="New Password" required>
                     </div>
                   </div>
                   <div class="form-group ">
                      <label for="name">Enter Confirm Passowrd</label>
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fa fa-lock text-dark"></i>
                          </div>
                        </div>
                        <input type="password" name="confirmpassword" autocomplete="new-password" id="" class="form-control form-control-alternative" placeholder="Confirm Password" required>
                      </div>
                    </div>
                   <div class="text-center mb-4">
                      <input type="hidden" name="userId" value="<%=userId%>">
                        <input type="hidden" name="token" value="<%=passwordToken%>">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                     <button class="btn btn-primary btn-sm my-2" type="submit">Save Password <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                   </div>
                  </form>
                </div>
              </div>
             </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</main>
<%- include('../includes/end.ejs') %>
<script type="text/javascript">
var x = 600;
document.getElementById('sec').innerHTML = 600;
var z = setInterval(function(){
   x = x - 1;
   document.getElementById('sec').innerHTML = x;
   if(x == 0){
    document.getElementById('expired').innerHTML = 'Code Has Been Expired! :(';
     clearInterval(z)
   }
   },1000)
</script>
</body>
</html>