<%- include('includes/header.ejs') %>
<body>
  <%- include('includes/nav.ejs') %>
<main>
  <div class="position-relative">
    <section class="section-shaped my-0" style="min-height:80vh">
      <div class="container container-lg">
           <div class="row mb-5">
            <div class="col mt-5 mb-5 p-4 shadow-sm">
              <div class="row">
                <div class="col-md-6 mx-auto border p-3 bg-dark rounded shadow-sm border-default text-center">
                  <div class="row justify-content-center">
                    <div class="col-4 mx-auto">
                        <img src="<%=userLogged.profileImg%>" alt="<%=userLogged.profileImg%>" class="img-fluid">
                    </div>
                  </div>
                  <h5 class="mt-2 mb-0 py-0 text-white text-capitalize"><%=userLogged.username%></h5>
                  <h6 class="my-0 py-0 text-white"><%=userLogged.email%></h6>
                  <a href="/tests" class=" mt-2 btn bg-gradient-danger text-white btn-sm btn-round">Appear For a Test <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                  <h6 class="mt-2"><small class="text-warning">You can appear for test only if you have completed your profile</small></h6>
                </div>
              </div>
              <h4 class="text-center my-3 text-dark">Your Activity</h4>
              <% if(buyerStatus) { %>
               <% for(buyee of buyer){ %>
                <div class="row mb-3">
                    <div class="col-md-8 bg-light rounded mx-auto shadow p-3">
                        <h6 class="text-center">You've purchased a test of ₹<%=buyee.amount%> on <%=buyee.createdAt%>! Your Exam is on <%=buyee.testDate%> at <%=buyee.testCity%> at <%=buyee.testTime%>. <br> Best of Luck <i class="fa fa-thumbs-up text-default" aria-hidden="true"></i></h6>
                      </div>
            </div>
                <% } %> 
                  <% } else { %>  
                    <h6 class="text-center">No Activity Yet!</h6>
                    <% } %>
              <!-- <div class="row">
                  <div class="col-md-8 bg-light rounded mx-auto shadow p-3">
                    <h6 class="text-center">You've purchased a test of ₹850 on 18/09/19! Your Exam is on 18/09/18 at 15:30. <br> Best of Luck <i class="fa fa-thumbs-up text-default" aria-hidden="true"></i></h6>
                  </div>
                </div> -->
                          <div class="row">
                           <div class="col-md-12 mx-auto">
                             <h3 class=" mt-3 mb-4 display-3 text-center text-dark">Recommended Courses For You</h3>
                             <% if(courses.length > 0) { %>
                              <div class="row">
                                <% for(course of courses) { %>
                                  <%   var numberWithCommas = (x) =>{
                                    x=x.toString();
                                    var afterPoint = '';
                                    if(x.indexOf('.') > 0)
                                    afterPoint = x.substring(x.indexOf('.'),x.length);
                                    x = Math.floor(x);
                                    x=x.toString();
                                    var lastThree = x.substring(x.length-3);
                                    var otherNumbers = x.substring(0,x.length-3);
                                    if(otherNumbers != '')
                                        lastThree = ',' + lastThree;
                                    var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree + afterPoint;
                                    return res;
                
                                } %>
                                        <div class="col-md-3 my-2">
                                            <div class="card shadow border-0">
                                            <img src="<%=course.img%>" alt="" class="img-fluid">
                                              <div class="card-body p-2">
                                                <h4 class=" text-capitalize  text-dark">
                                                  <%=course.title%>
                                                </h4>
                                                <div class="">
                                                  <h6 class="text-danger d-inline font-weight-bold mr-1"> ₹ <%= numberWithCommas(course.offerprice) %></h6>
                                                <small class="d-lg-inline text-danger font-weight-bold h6"><del class="text-dark">₹ <%=numberWithCommas(course.actualprice) %></del> <% var price = course.actualprice - course.offerprice %> <% var y = price/course.actualprice*100 %> <%= y.toFixed(0) %>% off</small><br>
                                                <div class="mt-2">
                                                    <span class="badge badge-pill badge-primary">Premium</span>
                                                    <span class="badge badge-pill badge-default">Offline</span> <br>
                                                </div>
                                                <% if(isLoggedin) { %>
                                               <form action="/purchase-course" method="post">
                                              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                              <input type="hidden" name="courseId" value="<%=course._id%>">
                                              <button class="btn btn-default btn-sm mt-2" type="submit">Enroll  <i class="fa fa-arrow-circle-right ml-1" style="color:yellow"></i></button>
                                              </form>
                                                </div>
                                                <% } else { %>
                                                  <a href="/login" class="btn btn-default btn-sm mt-2 mb-2"> <i class="fa fa-sign-in mr-1" style="color:yellow" aria-hidden="true"></i> Login To Enroll</a>
                                                  <% } %>
                                              </div>
                                              <div class="card-footer p-2">
                                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-full text-warning" aria-hidden="true"></i> <%=course.members%>
                                              </div>
                                            </div>
                                          </div>
                                          <% } %>
                                  </div>
                                  <% } else { %>
                                    <h4 class="text-center">No Courses Available Now! <br> Stay Tuned We'll Update Soon </h4>
                                    <% } %>
                           </div>
                         </div>
            </div>
           </div>
      </div>
    </section>
  </div>
</main>

<%- include('includes/end.ejs') %>
</body>

</html>