<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
<style>
.testimonial{
    background: #F4F5F7;
    text-align: center;
    margin: 0 20px;
}
.testimonial .description{
    padding: 40px 30px;
    margin-bottom: 50px;
    border-top: 1px solid #2660a4;
    border-left: 1px solid #2660a4;
    font-size: 15px;
    color: #172B4D;
    line-height: 30px;
    text-align: left;
    position: relative;
}
.testimonial .description:after{
    content: "";
    width: 50%;
    height: 1px;
    background: #2660a4;
    position: absolute;
    bottom: 0;
    left: 0;
}
.testimonial .testimonial-content{ position: relative; }
.testimonial .testimonial-content:before{
    content: "";
    width: 1px;
    height: 20px;
    background: #2660a4;
    position: absolute;
    top: -50px;
    left: 50%;
}
.testimonial .testimonial-content:after{
    content: "";
    width: 2px;
    height: 40px;
    background: #2660a4;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: skewX(-45deg);
    transform-origin: 100% 100% 0;
}
.testimonial .pic{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 7px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.testimonial .title{
    display: inline-block;
    font-size: 22px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #172B4D;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
    width: 15px;
    height: 10px;
    border-radius: 0;
    background: #F5365C;
    opacity: 0.8;
    transition: all 0.3s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span{
    width: 35px;
    background: #172B4D;
}
</style>
</head>
<body>
  <header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-dark navbar-transparent py-1">
      <div class="container container-lg">
        <a class="navbar-brand mr-lg-5" href="/">
          <span class="ml-1 h4 text-lowercase font-weight-bold text-white poppins"><span style="color:rgb(6, 57, 223)">am</span><span style="color:rgb(22, 190, 16)">cubes</span></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="/">
                  <span class="ml-1 h4 text-lowercase font-weight-bold text-white poppins"><span style="color:rgb(5, 61, 216)">am</span><span style="color:rgb(22, 190, 16)">cubes</span></span>
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav ml-auto navbar-nav-hover align-items-lg-center">
                <li class="nav-item <%= path === '/' ? 'active':'' %>">
                  <a href="/" style="font-size:1em;" class="nav-link">Home</a>
                </li>
                <li class="nav-item <%= path === '/courses' ? 'active':'' %>">
                  <a href="/courses" style="font-size:1em;" class=" nav-link ">Courses</a>
                </li>   
                <li class="nav-item <%= path === '/jobs' ? 'active':'' %>">
                    <a href="/jobs" style="font-size:1em;" class=" nav-link">Jobs/Interns</a>
                  </li> 
                  <li class="nav-item <%= path === '/tests' ? 'active':'' %>">
                    <a href="/tests" style="font-size:1em;" class=" nav-link ">Tests</a>
                  </li>
                  <% if(!isLoggedin){ %>
                    <li class="nav-item <%= path === '/login' ? 'active':'' %>">
                      <a href="/login" style="font-size:1em;" class=" nav-link ">Login</a>
                    </li>      
                    <li class="nav-item <%= path === '/signup' ? 'active':'' %>">
                        <a href="/signup" style="font-size:1em;" class=" nav-link ">Signup</a>
                      </li>
                      <li class="nav-item <%= path === '/recruiters' ? 'active':'' %>">
                        <a href="/recruiters" style="font-size:1em;" class=" nav-link ">Recruiters</a>
                      </li>
                      <% } else { %>
                      <li class="nav-item d-none d-md-block dropdown <%= path === '/dashboard' || '/profile' || '/settings', '/bugreport', '/account' ? 'active':'' %>">
                            <a style="font-size:1em;" class=" nav-link text-capitalize  dropdown-toggle"id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= user.username %></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/account">Account</a>
                                    <a class="dropdown-item" href="/dashboard">Dashboard</a>
                                    <a class="dropdown-item" href="/profile">Profile</a>
                                    <a class="dropdown-item" href="/settings">Syllabus & More</a>
                                    <div class="dropdown-divider"></div>
                                    <form action="/logout" method="post" class="m-0">
                                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                      <button class="dropdown-item btn btn-link font-weight-normal text-capitalize">Logout</button>
                                    </form>
                                    <a class="dropdown-item" href="/bugreport">Report Bug</a>
                                  </div>
                          </li>
                          <li class="nav-item d-md-none">
                              <a class="nav-link" href="/account">Account</a>
                          </li>
                          <li class="nav-item d-md-none">
                              <a class="nav-link" href="/dashboard">Dashboard</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="/profile">Profile</a>
                              </li>
                              <li class="nav-item d-md-none">
                                  <a class="nav-link" href="/settings">Syllabus & More</a>
                                </li>
                                <li class="nav-item d-md-none">
                                    <form action="/logout" method="post" class="m-0">
                                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                      <button class="nav-link btn btn-link font-weight-normal text-capitalize">Logout</button>
                                    </form>
                                  </li>
                                  <li class="nav-item d-md-none">
                                      <a class="nav-link" href="/bugreport">Report Bug</a>
                                    </li>
                        <% } %>
                       
              </ul>

      </div>
  </div>
</nav>
</header>
<main>
  <div class="position-relative">
    <section class="section-shaped my-0">
      <div class="shape shape-style-1 shape-skew bg-blue" style="background-image: url('../assets/img/dev.jpg');background-size:cover;background-repeat: no-repeat;filter: brightness(40%)">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container container-lg shape-container d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-md-5 mt-0 mt-lg-5">
               <h1 class="br text-white text-capitalize">Get closer to your dream internship</h1>
               <p style="font-size: 17px;" class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, iusto.</p>
               <div class="mt-4">
                <a href="/tests" class="btn btn-white">Schedule Test <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i> </a>
               </div>
            </div>  
          </div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="br text-default text-center text-capitalize"> From startups to Fortune 500s, amcubes offers internships and jobs from over 1000+ employers.</h1>
          </div>
        </div>
      </div>
    </section>
<section class="py-5 bg-secondary">
  <div class="container">
    <!-- <h1 class="text-center ft text-black font-weight-bold  mt-3 mb-5">Specialized Training Program</h1>
      <div class="row">
        <div class="col-md-4 my-3">
          <div class="card shadow text-center">
            <div class="card-body">
              <img src="../assets/img/icons/live.png" alt="" class="bg-black shadow p-2 rounded-circle">
           <h4 class="text-black mt-3 mb-1">Live Classes From Anywhere</h4>
           <p class=" text-black my-2">
              Take live, structured classes from the convenience of wherever, with instant, one-on-one help whenever you need it.
          </p>
          <a class="btn btn-sm btn-link mt-2 text-primary" href="/courses">SEE OUR COURSES <i class="fa fa-arrow-right text-primary" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
          <div class="col-md-4 my-3">
             <div class="card shadow text-center">
               <div class="card-body">
                <img src="../assets/img/icons/give.png" alt="" class="bg-black shadow p-2 rounded-circle">
                <h4 class="text-black mt-3 mb-1">Pay Nothing Until You Make It</h4>
                <p class=" text-black my-2">
                   No loans, no debt, and no up-front tuition. You'll pay a percentage of income after you're hired, but only if you're making at least ₹5,00,000/year.
               </p>
               <a class="btn btn-sm btn-link mt-2 text-primary" href="/courses">SEE OUR COURSES <i class="fa fa-arrow-right text-primary" aria-hidden="true"></i></a>
               </div>
             </div>
            </div>
            <div class="col-md-4 my-3">
              <div class="card shadow text-center">
                <div class="card-body">
                 <img src="../assets/img/icons/education.png" alt="" class="bg-black shadow p-2 rounded-circle">
                 <h4 class="text-black mt-3 mb-1">World-Class Instructional Staff</h4>
                 <p class=" text-black my-2">
                    We built a curriculum with hands-on, real-world experience taught by instructors from Microsoft, Facebook, Qualcomm, and more.
                </p>
                <a class="btn btn-sm btn-link mt-2 text-primary" href="/courses">SEE OUR COURSES <i class="fa fa-arrow-right text-primary" aria-hidden="true"></i></a>
                </div>
              </div>
             </div>
      </div> -->
      <h2 class="text-center ft text-black mt-3">How it works</h2>
      <p class="text-center text-black" style="font-size:1.2rem;">Take amcubes test and apply for 1000+ internships</p>
      <div class="row">
        <div class="col-6 col-md-3  my-2">
             <div class="card shadow-sm text-center">
               <div class="card-body">
                <img src="../assets/img/icons/timetable.png" alt="" class="img-fluid rounded p-4 bg-danger" >
                <h4 class="ft text-black mt-4">Schedule Test</h4>
               
               </div>
             </div>
        </div>
          <div class="col-6 col-md-3 my-2">
            <div class="card shadow-sm text-center">
              <div class="card-body">
              <img src="../assets/img/icons/scoreboard.png" alt="" class="img-fluid rounded p-4 bg-primary">
              <h4 class="ft text-black mt-4">Get Your Score</h4>
             
              </div>
            </div>
        </div>
        <div class="col-6 col-md-3 my-2">
          <div class="card shadow-sm text-center">
            <div class="card-body">
            <img src="../assets/img/icons/checklist.png" alt="" class="img-fluid rounded p-4 bg-success">
            <h4 class="ft text-black mt-4">Get Shortlisted</h4>
            
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3 my-2">
          <div class="card shadow-sm text-center">
            <div class="card-body">
            <img src="../assets/img/icons/hiring.png" alt="" class="img-fluid rounded p-4 bg-warning">
            <h4 class="ft text-black mt-4">Get Hired</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center ft text-black mb-4">Internships in india</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4 col-md-2  my-2">
           <a href="/tests">
            <div class="card shadow-sm p-0 border-0">
              <img src="../assets/img/cities/hyderabad.jpg" class="card-img-top" alt="Hyderabad">
              <div class="card-body p-1">
                <h5 class="card-title text-center text-black">Hyderabad</h5>
              </div>
            </div>
           </a>
      </div>
      <div class="col-4 col-md-2  my-2">
        <a href="/tests">
          <div class="card shadow-sm p-0 border-0">
            <img src="../assets/img/cities/Bangalore.jpg" class="card-img-top" alt="Banglore">
            <div class="card-body p-1">
              <h5 class="card-title text-center text-black">Banglore</h5>
            </div>
        </a>
       </div>
   </div> <div class="col-4 col-md-2  my-2">
    <a href="/tests">
      <div class="card shadow-sm p-0 border-0">
        <img src="../assets/img/cities/delhi1.jpg" class="card-img-top" alt="Delhi">
        <div class="card-body p-1">
          <h5 class="card-title text-center text-black">Delhi</h5>
        </div>
      </div>
    </a>
</div> <div class="col-4 col-md-2  my-2">
  <a href="/tests">
    <div class="card shadow-sm p-0 border-0">
      <img src="../assets/img/cities/kolkata-1.jpg" class="card-img-top" alt="Kolkata">
      <div class="card-body p-1">
        <h5 class="card-title text-center text-black">Kolkata</h5>
      </div>
    </div>
  </a>
</div> <div class="col-4 col-md-2  my-2">
  <a href="/tests">
    <div class="card shadow-sm p-0 border-0">
      <img src="../assets/img/cities/chennai.jpg" class="card-img-top" alt="Chennai">
      <div class="card-body p-1">
        <h5 class="card-title text-center text-black">Chennai</h5>
      </div>
    </div>
  </a>
</div> <div class="col-4 col-md-2  my-2">
  <a href="/tests">
    <div class="card shadow-sm p-0 border-0">
      <img src="../assets/img/cities/pune.jpg" class="card-img-top" alt="Pune">
      <div class="card-body p-1">
        <h5 class="card-title text-center text-black">Pune</h5>
      </div>
    </div>
  </a>
</div>
<div class="col-4 col-md-2  my-2">
  <a href="/tests">
    <div class="card shadow-sm p-0 border-0">
      <img src="../assets/img/cities/mumbai.jpg" class="card-img-top" alt="Mumbai">
      <div class="card-body p-1">
        <h5 class="card-title text-center text-black">Mumbai</h5>
      </div>
    </div>
  </a>
</div>
     
    </div>
  </div>
</section>
<section class="py-5 bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center ft text-black mb-4">Internships Abroad</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4 col-md-2  my-2">
           <div class="card shadow-sm p-0 border-0">
            <img src="../assets/img/cities/silicon-valley.jpg" class="card-img-top" alt="Silicon Valley">
            <div class="card-body p-1">
              <h5 class="card-title text-center text-black">Silicon Valley</h5>
            </div>
          </div>
      </div>
      <div class="col-4 col-md-2  my-2">
        <div class="card shadow-sm p-0 border-0">
         <img src="../assets/img/cities/toronto.jpg" class="card-img-top" alt="Toronto">
         <div class="card-body p-1">
           <h5 class="card-title text-center text-black">Toronto</h5>
         </div>
       </div>
   </div> <div class="col-4 col-md-2  my-2">
    <div class="card shadow-sm p-0 border-0">
     <img src="../assets/img/cities/london.jpg" class="card-img-top" alt="London">
     <div class="card-body p-1">
       <h5 class="card-title text-center text-black">London</h5>
     </div>
   </div>
</div> <div class="col-4 col-md-2  my-2">
  <div class="card shadow-sm p-0 border-0">
   <img src="../assets/img/cities/dubai.jpg" class="card-img-top" alt="Dubai">
   <div class="card-body p-1">
     <h5 class="card-title text-center text-black">Dubai</h5>
   </div>
 </div>
</div> <div class="col-4 col-md-2  my-2">
  <div class="card shadow-sm p-0 border-0">
   <img src="../assets/img/cities/hongkong.jpg" class="card-img-top" alt="Hongkong">
   <div class="card-body p-1">
     <h5 class="card-title text-center text-black">Hongkong</h5>
   </div>
 </div>
</div> <div class="col-4 col-md-2  my-2">
  <div class="card shadow-sm p-0 border-0">
   <img src="../assets/img/cities/singapore.jpg" class="card-img-top" alt="Singapore">
   <div class="card-body p-1">
     <h5 class="card-title text-center text-black">Singapore</h5>
   </div>
 </div>
</div>
     
    </div>
  </div>
</section>
<!-- <section class="py-5 bg-prp">
  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-auto text-center">
        <h1 class="ft text-white font-weight-bold  mt-3">Take Amcubes National Level Online Test</h1>
        <a href="/tests" class="btn btn-dark btn-lg mt-2 ">Appear For Test <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</section> -->
    <!-- <section class="py-5 bg-secondary">
     <div class="container">
         <div class="row">
           <div class="col-md-5 aligh-self-center">
              <h1 class="ft text-dark font-weight-bold  mt-3">How it works?</h1>
           </div>
           <div class="col-md-7">
              <p class=" text-dark ft font-weight-bold  my-3" style="font-size:1.1rem;word-spacing: 2">
                  <i class="fa fa-arrow-circle-right mr-2" aria-hidden="true"></i>Start with an online exam to test the engineering, management fundamentals and communication skills.
              </p>
              <p class=" text-dark ft font-weight-bold my-3" style="font-size:1.1rem;word-spacing: 2">
                  <i class="fa fa-arrow-circle-right mr-2" aria-hidden="true"></i>  Mock Interview to test the eagerness to learn.
              </p>
              <p class=" text-dark ft font-weight-bold my-3" style="font-size:1.1rem;word-spacing: 2">
                  <i class="fa fa-arrow-circle-right mr-2" aria-hidden="true"></i>  Once selected, students will go through several documentation and then start with the intense training for 10-12 weeks with out paying any upfront fee. 
              </p>
           </div>
         </div>
     </div>
    </section> -->
    <!-- <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-5 aligh-self-center">
             <h1 class="ft text-dark font-weight-bold  mt-3">About Us</h1>
          </div>
          <div class="col-md-7 mt-3">
             <p class=" text-dark ft" style="font-size:1.1rem;font-weight:600;word-spacing: 2">
                Amcubes framed the challenge as a lean startup. Our goal is not primarily to complete a technological adoption but rather to experiment with ways to cultivate a creative culture. We maintain this perspective throughout the project. We offer programs in web development, data science, AI, ML and more. Students can choose from a wide range of formats and modalities to help them boost their career and achieve best in their goals, including full-time, part-time, and short-term.
             </p>
          </div>
        </div>
      </div>
    </section> -->
    <section class="py-5">
       <div class="container">
         <div class="row">
           <div class="col">
             <h2 class="ft text-black text-center mb-4">Amcubes Package</h2>
             <div class="row">
               <div class="col-md-4 my-2">
                 <div class="card shadow-sm border-0">
                  <img src="../assets/img/english.jpg" alt="" class="card-img-top">
                   <div class="card-body">
                      <h4 class="text-black text-center">English Certification</h4>
                      <p class="card-text text-black text-center">Our industry experts and advanced AI based resume analyzer can help highlight your strengths.</p>
                     <div class="text-center">
                      <button class="btn btn-danger bg-gradient-danger">View & Buy <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="col-md-4 my-2">
                <div class="card shadow-sm border-0">
                  <img src="../assets/img/technical.jpg" alt="" class="card-img-top">
                  <div class="card-body">
                     <h4 class="text-black text-center">Technical Certification</h4>
                     <p class="card-text text-black text-center">Our industry experts and advanced AI based resume analyzer can help highlight your strengths.</p>
                    <div class="text-center">
                     <button class="btn btn-danger bg-gradient-danger">View & Buy <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 my-2">
                <div class="card shadow-sm border-0">
                  <img src="../assets/img/resume.jpg" alt="" class="card-img-top">
                  <div class="card-body">
                     <h4 class="text-black text-center">Resume Building</h4>
                     <p class="card-text text-black text-center">Our industry experts and advanced AI based resume analyzer can help highlight your strengths.</p>
                    <div class="text-center">
                     <button class="btn btn-danger bg-gradient-danger">View & Buy <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
             </div>
           </div>
         </div>
       </div>
    </section>
    <section class="py-5 bg-secondary">
      <div class="container">
        <h2 class="ft text-default text-center mb-5">What people say about amcubes</h2>
            <div class="row">
              <div class="col-md-12">
                  <div id="testimonial-slider" class="owl-carousel">
                      <div class="testimonial">
                          <p class="description"> <i class="fa fa-quote-right" style="font-weight: 900;
                            display: inline-block;
                            float: left;
                            padding: 0 15px 5px 0;
                            font-size: 30px;
                            color: #F5365C;
                            text-align: center;
                            position: relative;
                            top: 8px;
                            left: 0;" aria-hidden="true"></i>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti dolor ipsum molestias mollitia ut. Aliquam aperiam corporis cumque debitis delectus dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </p>
                          <div class="testimonial-content">
                              <div class="pic">
                                  <img src="../assets/img/face1240.jpg">
                              </div>
                              <h3 class="title ft">John Doe</h3>
                          </div>
                      </div>
       
                      <div class="testimonial">
                          <p class="description">
                            <i class="fa fa-quote-right" style="font-weight: 900;
                            display: inline-block;
                            float: left;
                            padding: 0 15px 5px 0;
                            font-size: 30px;
                            color: #F5365C;
                            text-align: center;
                            position: relative;
                            top: 8px;
                            left: 0;" aria-hidden="true"></i>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti dolor ipsum molestias mollitia ut. Aliquam aperiam corporis cumque debitis delectus dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </p>
                          <div class="testimonial-content">
                              <div class="pic">
                                  <img src="../assets/img/f2240.jpg">
                              </div>
                              <h3 class="title">John Doe</h3>
                          </div>
                      </div>
       
                      <div class="testimonial">
                          <p class="description">
                            <i class="fa fa-quote-right" style="font-weight: 900;
                            display: inline-block;
                            float: left;
                            padding: 0 15px 5px 0;
                            font-size: 30px;
                            color: #F5365C;
                            text-align: center;
                            position: relative;
                            top: 8px;
                            left: 0;" aria-hidden="true"></i>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti dolor ipsum molestias mollitia ut. Aliquam aperiam corporis cumque debitis delectus dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </p>
                          <div class="testimonial-content">
                              <div class="pic">
                                  <img src="../assets/img/face1240.jpg">
                              </div>
                              <h3 class="title">John Doe</h3>
                          </div>
                      </div>
                      
                      <div class="testimonial">
                        <p class="description">
                          <i class="fa fa-quote-right" style="font-weight: 900;
                          display: inline-block;
                          float: left;
                          padding: 0 15px 5px 0;
                          font-size: 30px;
                          color: #F5365C;
                          text-align: center;
                          position: relative;
                          top: 8px;
                          left: 0;" aria-hidden="true"></i>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti dolor ipsum molestias mollitia ut. Aliquam aperiam corporis cumque debitis delectus dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <div class="testimonial-content">
                            <div class="pic">
                                <img src="../assets/img/f2240.jpg">
                            </div>
                            <h3 class="title">John Doe</h3>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
  </div>
</main>
<footer class="footer bg-dark">
  <!-- <div style="margin-top:100px"></div> -->
  <div class="container container-lg">
    <div class="row row-grid">
      <div class="col-lg-4 order-2 text-center mb-2 mb-lg-5">
        <h3 class=" font-weight-light text-white">Follow us on</h3>
        <div class=" btn-wrapper mt-3">
            <a target="_blank" href="https://twitter.com/amcubes3?s=08" class="btn btn-neutral btn-icon-only btn-twitter btn-round rounded-circle btn-lg" data-toggle="tooltip" data-placement="bottom" title="Follow us">
               <i class="fa fa-twitter mt-2 pt-1"></i>
            </a>
            <a target="_blank" href="https://facebook.com/amcubes2019" class="btn btn-neutral btn-icon-only btn-facebook btn-round rounded-circle btn-lg" data-toggle="tooltip" title="Like us">
              <i class="fa fa-facebook-square mt-2 pt-1"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/amcubes" class="btn btn-neutral btn-icon-only btn-linkedin rounded-circle btn-lg btn-round" data-toggle="tooltip" title="Follow us">
              <i class="fa fa-linkedin mt-2 pt-1 "></i>
            </a>
            <a target="_blank" href="https://instagram.com/amcubes2019" class="btn btn-neutral btn-icon-only btn-instagram btn-round rounded-circle btn-lg" data-toggle="tooltip" title="Follow us">
              <i class="fa fa-instagram mt-2 pt-1"></i>
            </a>
          </div>
          <h5 class="text-white mt-3">Working Hours</h5>
          <p class="font-weight-normal text-white">Mon - Sun, 9AM - 9PM</p>
      </div>
      <div class="col-lg-4  order-1 mb-2 mb-lg-5 contact" >
          <h3 class="text-primary font-weight-light text-white">Contact us <br></h3>
          <h5 class="mb-0  font-weight-light text-white">4th Floor, 91 Springboard, Mytri Square, 2-41/11, 6/2, Gachibowli - Miyapur Rd, Prashanth Nagar Colony, Hyderabad, Telangana 500084</h5>
            <a class="h5 mb-0 mt-1 font-weight-light text-white" href="mailto:hello@amcubes.com">hello@amcubes.com</a> <br></br>
           <a class="h5 mb-0 mt-1 font-weight-normal text-white" href="tel:+918309942409">+91-8309942409</a>
        </div>
        <div class="col-lg-4 mb-5 order-3">
          <div id="map" class="rounded shadow"></div>
        </div>
    </div>
  
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright text-white">Copyright 
          &copy; <script>document.write(new Date().getFullYear())</script>
          <a href="" class="text-white" target="_blank">amcubes</a>.
        </div>
      </div>
      <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="" class="text-white mr-3">Amcubes</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="text-white mr-3">About Us</a>
              </li>
              <li class="nav-item">
                  <a href="/terms&privacy" class="text-white" target="_blank">Terms & Privacy</a>
                </li>
          </ul>
        </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/popper.min.js"></script>
<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../assets/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="../assets/js/headroom.min.js"></script>
<script type="text/javascript" src="../assets/js/nouislider.min.js"></script>
<script type="text/javascript" src="../assets/js/argon.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADzo1qNJPmONyIELJQa5Zs4oalk0nSJlw&callback=initMap"async defer></script>
<script type="text/javascript" src="../assets/js/core/googlemaps.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="6ec3b1a6-40d5-4f49-89d7-e8bf8d1514fb";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
 <script>
 
$(document).ready(function(){
    $("#testimonial-slider").owlCarousel({
        items:2,
        itemsDesktop:[1000,2],
        itemsDesktopSmall:[979,2],
        itemsTablet:[768,1],
        pagination:true,
        autoPlay:false
    });
});
 </script>
</body>
</html>         