<%- include('includes/header.ejs') %>
<style>
ol {
  list-style: none;
  padding: 0;
}
ol li {
  padding-left: 1.3em;
}
ol li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color:black;
  font-size:1.8rem;
}
</style>
</head>
<body>
  <%-include('includes/trans-nav.ejs') %>
<main>
  <div class="position-relative">
    <section class="section-shaped my-0">
      <div class="shape shape-style-1 shape-skew bg-blue" style="background-image: url('../assets/img/hire-min.jpg');background-size:cover;background-repeat: no-repeat;filter: brightness(35%)">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container container-lg shape-container d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-md-5 mt-0 mt-lg-5">
               <h1 class="br text-white text-capitalize">Let's Build Your Team With Amcubes</h1>
               <p style="font-size: 22px; font-weight:600; word-spacing: 1px;" class="text-white ">Whether you’re in need of a single key hire, a full team, or an entire division, we’re here for all your hiring needs.</p>
               <!-- <div class="mt-4">
                <a href="/tests" class="btn btn-white">Schedule Test <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i> </a>
               </div> -->
            </div>  
          </div>
        </div>
      </div>
    </section>
<section class="pt-3 pb-4">
  <div class="container">
     <h2 class="text-black text-center mb-5 sm-br">Ready to get started</h2>
     <div class="row">
       <div class="col-md-4 my-3">
         <div class="card shadow border-0">
           <div class="card-header">
            <h3 class="text-center text-black font-weight-700">Hiring Interns</h3>
           </div>
           <div class="card-body bg-purple-dark">
              <p class="text-white">Instant access to our highly targeted audience of professionals in your industry.</p>
                <ul class="list-group">
                  <li class="list-group-item active">Job posting validity - 90 days</li>
                  <li class="list-group-item text-default">5 Jobs posting</li>
                  <li class="list-group-item text-default">Expert advice for 90 days</li>
                  <li class="list-group-item text-default">100 Verified profiles</li>
                </ul>
                <h3 class="text-center text-white sm-br mt-3 mb-0">INR 999</h3>
                <p class="text-center text-white mt-0 mb-2">for 3 months</p>
                <a href="#" class="btn btn-white text-purple-dark d-block mb-2" data-toggle="modal" data-target="#modal1">Buy Now <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i></a href="#">
                <%- include('includes/rec-modal1.ejs') %>
              </div>
           </div>
         </div>
         <div class="col-md-4 my-3">
          <div class="card shadow border-0">
            <div class="card-header">
             <h3 class="text-center text-black font-weight-700">Hiring Full Time</h3>
            </div>
            <div class="card-body bg-g">
               <p class="text-black font-weight-700">Instant access to our highly targeted audience of professionals in your industry.</p>
                 <ul class="list-group">
                   <li class="list-group-item bg-black text-white">Job posting validity - 90 days</li>
                   <li class="list-group-item text-default">Unlimited job posting</li>
                   <li class="list-group-item text-default">Unlimited job posting to meet your high volume needs</li>
                   <li class="list-group-item text-default">Social media visibility</li>
                   <li class="list-group-item text-default">Dedicated email to target audience for your need</li>
                 </ul>
                 <h3 class="text-center text-black sm-br mt-3 mb-0">INR 19,999</h3>
                 <p class="text-center text-black mt-0 mb-2">for 3 months</p>
                 <a href="#" class="btn btn-white text-black d-block mb-2" data-toggle="modal" data-target="#modal2">Buy Now <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i></a href="#">
                 <%- include('includes/rec-modal2.ejs') %>
               </div>
            </div>
          </div>
          <div class="col-md-4 my-3">
            <div class="card shadow border-0">
              <div class="card-header">
               <h3 class="text-center text-black font-weight-700">Building Entire Team</h3>
              </div>
              <div class="card-body bg-purple-dark">
                 <p class="text-white">Instant access to our highly targeted audience of professionals in your industry.</p>
                   <ul class="list-group">
                     <li class="list-group-item active">Expert advice for 90 days</li>
                     <li class="list-group-item text-default">Flexibility to change team members</li>
                     <li class="list-group-item text-default">Social media visibility</li>
                     <li class="list-group-item text-default">dedicated email to your target audience</li>
                   </ul>
                   <h3 class="text-center text-white sm-br mt-3 mb-0">Custom Pricing</h3>
                   <p class="text-center text-white mt-0 mb-2">for 6 months</p>
                   <a href="#" class="btn btn-white text-purple-dark d-block mb-2" data-toggle="modal" data-target="#modal3">Contact us <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i></a>
                   <%- include('includes/rec-modal3.ejs') %>
                 </div>
              </div>
            </div>
       </div>
     </div>
  </div>
</section>
<section class="py-5" style="background-color: #F7F7F7;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
         <img src="../assets/img/recruit.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-6 align-self-center">
        <h3 class="text-black sm-br">Hire tech talent faster with Amcubes.</h3>
        <p>Easily connect with a unique, diverse, qualified candidate pool. 90% of Amcubes tech candidates are open to a new career opportunity.

        </p>
      </div>
    </div>
  </div>
</section>

  </div>
</main>
<%- include('includes/indexend.ejs') %>
</body>
</html>